
.icon-edit:before { content: '\e800'; } /* '' */
.icon-delete:before { content: '\e801'; } /* '' */
.icon-add:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */